node_modules
.next
.42plugin
.42cog
dist
build
origin
lib/db/migrations
prompts
notes
docs
src
source
chats
logs
bun.lockb
*.min.js
*.min.css
*.md
tsconfig.json
tests/**/__snapshots__
tests/e2e/**/snapshots
